<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<group ns="/Phantom_sim">
                <!-- Robot Model -->
		<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find Phantom_Gazebo)/urdf/Phantom_description.xacro'" /> 
		<arg name="x" default="0"/>
		<arg name="y" default="0"/>
		<arg name="z" default="0"/>
		<!-- Spawn Robot Model -->
		<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
                      args="-urdf -param robot_description -model Phantom -x $(arg x) -y $(arg y) -z $(arg z)" />


		<param name="Objeto_description" command="$(find xacro)/xacro --inorder '$(find Phantom_Gazebo)/urdf/Objeto.xacro'" /> 
		<arg name="x1" default="0"/>
		<arg name="y1" default="0.214"/>
		<arg name="z1" default="0"/>
		<!-- Spawn Robot Model -->
		<node name="Objeto_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
                      args="-urdf -param Objeto_description -model Objeto -x $(arg x1) -y $(arg y1) -z $(arg z1)" />
		<!-- Load controllers -->
		<rosparam command="load" file="$(find Phantom_Gazebo)/config/PID.yaml" />
		<!-- Controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/Phantom_sim" args="--namespace=/Phantom_sim 
		  joint_state_controller 
		  joint1_position_controller 
		  joint2_position_controller
		  joint3_position_controller 
		  joint4_position_controller
		  joint5_position_controller 
		  joint6_position_controller  
                  --timeout 60">
		</node>
		
		<!-- rqt -->
		<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />
		<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />


	</group>
</launch>
 
